<nav class="navbar bg-light">
  <div class="container-fluid  ">
    <a class="navbar-brand fw-bold fs-1 d-flex justify-content-between" href="#">
      <img src="../../../assets/2-2-pokemon-png-pic.png" alt="logoPkm" width="7%">
      <img src="https://ae01.alicdn.com/kf/H55c10d71c64c40568571a770c54d17faM/Di-alta-qualit-divertente-Pokeball-Pokeman-Go-Round-tappeto-tappeto-carino-Pokeball-Area-tappeti-tappeti-per.jpg_640x640.jpg" alt="Logo" width="50" height="50" class="d-inline-block  rounded-circle">
    </a>
  </div>
</nav>
