

  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="card" style="width: 18rem;">
      <img src="{{ pkm.img }}" class="card-img-top" alt="imgPkm">
      <div class="card-body text-center">
        <button (click)="addFavorites(pkm)">Aggiungi ai preferiti</button>
      </div>
    </div>
  </div>






