
  <label for="searchText" class="ms-2 fw-bold">Cerca un Pokemon <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
  </svg></label>
  <input type="search" class="mt-5 ms-2 border border-info border-2 rounded-3"  name="searchText" (keyup)="filterPokemonList()" [(ngModel)]="searchText">
  <!-- keyup vuol dire ogni volta che digito -->
  <!-- ngmodel associa quello che scrivo nell'input nella variabile in TS -->



    <!-- <select name="" id="" class="ms-2 border border-info border-2 rounded-3" (change)="filterPokemonList()" [(ngModel)]="selectedType" >
      <option value="">All</option>
      <option value="">Fire</option>
      <option value="">Water</option>
      <option value="">Grass</option>
      <option value="">Poison</option>
    </select> -->



<div class="container mt-5" id="main-container">
  <div class="row">
    <div *ngFor="let pkm of filteredPokemonList" class="col-md-6 col-xl-3 text-center">
      <div class="card mb-3 bg-gradient border border-info border-3 rounded" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ pkm.img }}"
              class="img-fluid mt-4 ms-2"
              alt="pkmImg"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a class="text-decoration-none" [routerLink]="['/detailsPkm', pkm.id]">{{ pkm.num }} - {{ pkm.name }}</a></h5>
              <p class="card-text">Tipo: {{ pkm.type }}</p>
              <p class="card-text">Altezza: {{ pkm.height }}</p>
              <p class="card-text">Peso: {{ pkm.weight }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

