.bg-gradient {
  background: rgb(255, 255, 255) !important;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(233, 245, 244, 1) 77%,
    rgba(97, 236, 234, 1) 94%
  ) !important;
}
