<h1 class="mt-3 ms-3">Il mio team</h1>

<ul *ngFor="let pkm of favorites">

    <li>
      <img src="{{ pkm.img }}" alt="imgPkm">
      {{ pkm.name }}
      <button class="btn btn-light ms-3" (click)="removeFavorites(pkm)">Elimina</button>
    </li>


</ul>

